@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}

body {
  background: #0A0511;
  color: #fff;
  letter-spacing: -5%;
}


.container {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 1rem;
}
.footer-container {
  max-width: 1080px; 
  margin: 0 auto;
  padding: 1rem;
}
.nav-container {
  max-width: 1080px; 
  padding-right: 1rem;
  padding-left: 1rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}

span {
  color: #FF93FF;
}
::-webkit-scrollbar{
  display: none;
}